<a href="https://colab.research.google.com/github/LucasZanellaClemente/Manipula-o-de-dados-com-Panda/blob/main/Manipula%C3%A7%C3%A3o_Dataset_amazon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

# 1. Carregue o CSV e exiba as 5 primeiras linhas

df = pd.read_csv("amazon_sales_dataset.csv")
display(df.head(5))

,order_id,order_date,product_id,product_category,price,discount_percent,quantity_sold,customer_region,payment_method,rating,review_count,discounted_price,total_revenue
0,1,2022-04-13,2637,Books,128.75,10,4,North America,UPI,3.5,443,115.88,463.52
1,2,2023-03-12,2300,Fashion,302.60,20,5,Asia,Credit Card,3.7,475,242.08,1210.40
2,3,2022-09-28,3670,Sports,495.80,20,2,Europe,UPI,4.4,183,396.64,793.28
3,4,2022-04-17,2522,Books,371.95,15,4,Middle East,UPI,5.0,212,316.16,1264.64
4,5,2022-03-13,1717,Beauty,201.68,0,4,Middle East,UPI,4.6,308,201.68,806.72

In [ ]:
#2. Quantos pedidos existem por categoria de produto? Ordene do maior para o menor
ordenar = df["product_category"].value_counts()
display(ordenar)

product_category
Beauty            8465
Fashion           8365
Books             8327
Electronics       8320
Sports            8265
Home & Kitchen    8258
Name: count, dtype: int64

In [ ]:
#3. Filtre apenas os pedidos com rating acima de 4.0 e desconto maior que 20%
ratingdesconto = df[(df['rating']> 4) & (df['discount_percent'] > 20)]
display(ratingdesconto)

,order_id,order_date,product_id,product_category,price,discount_percent,quantity_sold,customer_region,payment_method,rating,review_count,discounted_price,total_revenue
61,62,2023-03-04,3913,Sports,272.99,30,1,Middle East,Cash on Delivery,4.6,389,191.09,191.09
98,99,2022-03-06,1092,Sports,66.83,30,3,Middle East,Debit Card,4.6,54,46.78,140.34
117,118,2022-05-15,1829,Electronics,428.24,30,5,Middle East,Credit Card,4.3,110,299.77,1498.85
140,141,2023-04-06,1738,Books,353.75,30,1,Asia,Cash on Delivery,4.6,25,247.62,247.62
165,166,2023-07-10,3323,Electronics,33.46,30,4,Europe,UPI,4.7,8,23.42,93.68
...,...,...,...,...,...,...,...,...,...,...,...,...,...
49818,49819,2023-10-08,1665,Fashion,468.31,30,3,Asia,Wallet,4.9,149,327.82,983.46
49934,49935,2023-04-26,2191,Electronics,356.38,30,5,Middle East,Wallet,5.0,421,249.47,1247.35
49937,49938,2022-03-30,1862,Electronics,304.55,30,5,North America,Cash on Delivery,4.7,107,213.18,1065.90
49954,49955,2022-06-26,4204,Electronics,41.83,30,2,Asia,Credit Card,4.4,443,29.28,58.56
49965,49966,2022-11-22,2579,Fashion,352.45,30,4,North America,Debit Card,4.6,428,246.71,986.84

In [ ]:
# 4. Crie uma coluna 'discount_value' que mostre o valor do desconto em dinheiro (price - discounted_price)
df["Discount_value"] = df["discounted_price"] - df["price"]
display(df)

,order_id,order_date,product_id,product_category,price,discount_percent,quantity_sold,customer_region,payment_method,rating,review_count,discounted_price,total_revenue,Discount_value
0,1,2022-04-13,2637,Books,128.75,10,4,North America,UPI,3.5,443,115.88,463.52,-12.87
1,2,2023-03-12,2300,Fashion,302.60,20,5,Asia,Credit Card,3.7,475,242.08,1210.40,-60.52
2,3,2022-09-28,3670,Sports,495.80,20,2,Europe,UPI,4.4,183,396.64,793.28,-99.16
3,4,2022-04-17,2522,Books,371.95,15,4,Middle East,UPI,5.0,212,316.16,1264.64,-55.79
4,5,2022-03-13,1717,Beauty,201.68,0,4,Middle East,UPI,4.6,308,201.68,806.72,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,49996,2022-09-03,1433,Beauty,26.99,0,5,Middle East,Credit Card,2.4,386,26.99,134.95,0.00
49996,49997,2022-07-03,1428,Beauty,294.23,10,5,Asia,Credit Card,3.1,8,264.81,1324.05,-29.42
49997,49998,2023-02-17,4651,Electronics,352.11,30,4,Asia,Debit Card,3.1,104,246.48,985.92,-105.63
49998,49999,2022-09-30,4371,Beauty,307.54,5,1,Middle East,UPI,1.8,316,292.16,292.16,-15.38
49999,50000,2023-06-29,2944,Home & Kitchen,253.44,30,1,Europe,Debit Card,2.1,464,177.41,177.41,-76.03

In [ ]:
# 5. Qual a receita total por regiÃ£o? Qual regiÃ£o faturou mais?
lugar = df.groupby("customer_region")["total_revenue"].sum().sort_values(ascending=False)
display(lugar)

customer_region
Middle East      8301844.50
North America    8277217.84
Asia             8175199.83
Europe           8112311.57
Name: total_revenue, dtype: float64

In [ ]:
# 6. Crie uma coluna 'performance' classificando os produtos em 'Excelente', 'Bom' ou 'Ruim' pelo rating
df["Performance"] = np.where(df["rating"]>= 4.5, "Execpcional",
                             np.where(df["rating"] < 3.5, "ruim", "bom"))
display(df)

,order_id,order_date,product_id,product_category,price,discount_percent,quantity_sold,customer_region,payment_method,rating,review_count,discounted_price,total_revenue,Discount_value,Performance
0,1,2022-04-13,2637,Books,128.75,10,4,North America,UPI,3.5,443,115.88,463.52,-12.87,bom
1,2,2023-03-12,2300,Fashion,302.60,20,5,Asia,Credit Card,3.7,475,242.08,1210.40,-60.52,bom
2,3,2022-09-28,3670,Sports,495.80,20,2,Europe,UPI,4.4,183,396.64,793.28,-99.16,bom
3,4,2022-04-17,2522,Books,371.95,15,4,Middle East,UPI,5.0,212,316.16,1264.64,-55.79,Execpcional
4,5,2022-03-13,1717,Beauty,201.68,0,4,Middle East,UPI,4.6,308,201.68,806.72,0.00,Execpcional
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,49996,2022-09-03,1433,Beauty,26.99,0,5,Middle East,Credit Card,2.4,386,26.99,134.95,0.00,ruim
49996,49997,2022-07-03,1428,Beauty,294.23,10,5,Asia,Credit Card,3.1,8,264.81,1324.05,-29.42,ruim
49997,49998,2023-02-17,4651,Electronics,352.11,30,4,Asia,Debit Card,3.1,104,246.48,985.92,-105.63,ruim
49998,49999,2022-09-30,4371,Beauty,307.54,5,1,Middle East,UPI,1.8,316,292.16,292.16,-15.38,ruim
49999,50000,2023-06-29,2944,Home & Kitchen,253.44,30,1,Europe,Debit Card,2.1,464,177.41,177.41,-76.03,ruim

In [ ]:
# 7. Qual o mÃ©todo de pagamento mais usado?

comparador = df["payment_method"].value_counts()
display(comparador)

payment_method
Wallet              10106
UPI                 10078
Debit Card           9981
Cash on Delivery     9927
Credit Card          9908
Name: count, dtype: int64

In [ ]:
# 8. Filtre os produtos da categoria 'Books' com receita acima da mÃ©dia geral
media = df["total_revenue"].mean()
df["Media"] = media
filtro = df[(df["product_category"] == "Books") & (df["total_revenue"] > media)]
display(filtro)

,order_id,order_date,product_id,product_category,price,discount_percent,quantity_sold,customer_region,payment_method,rating,review_count,discounted_price,total_revenue,Discount_value,Performance,Media
3,4,2022-04-17,2522,Books,371.95,15,4,Middle East,UPI,5.0,212,316.16,1264.64,-55.79,Execpcional,657.331475
8,9,2022-05-02,3262,Books,373.62,0,4,Asia,Wallet,2.8,497,373.62,1494.48,0.00,ruim,657.331475
26,27,2022-06-10,2087,Books,290.06,20,5,Asia,Credit Card,4.1,35,232.05,1160.25,-58.01,bom,657.331475
36,37,2023-04-21,2525,Books,416.86,10,3,Europe,Credit Card,1.9,484,375.17,1125.51,-41.69,ruim,657.331475
55,56,2022-12-12,2783,Books,348.44,20,4,North America,Cash on Delivery,1.2,57,278.75,1115.00,-69.69,ruim,657.331475
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49947,49948,2022-03-11,2327,Books,187.74,5,5,Asia,Wallet,1.7,204,178.35,891.75,-9.39,ruim,657.331475
49970,49971,2023-07-02,3806,Books,237.59,20,5,Europe,Credit Card,4.4,373,190.07,950.35,-47.52,bom,657.331475
49977,49978,2022-07-26,4991,Books,299.78,20,5,North America,Credit Card,1.3,273,239.82,1199.10,-59.96,ruim,657.331475
49979,49980,2023-05-30,2063,Books,375.41,10,4,Middle East,Wallet,4.4,268,337.87,1351.48,-37.54,bom,657.331475
49987,49988,2023-01-30,4670,Books,166.87,15,5,Asia,UPI,2.3,142,141.84,709.20,-25.03,ruim,657.331475